<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA669OUqAV72OomqxGw8MVBrGqQYhNt1gg</string>
	<key>GCM_SENDER_ID</key>
	<string>291270115281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasepractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-c8bff</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-c8bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291270115281:ios:31913352e3805282c66af0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-c8bff-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>